.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('../public/bg-desktop-dark.jpg');
  background-repeat: no-repeat;
  background-size: 100% 300px;
}

.header {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  text-align: left;
  height: 20%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 48px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}