.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 300px;
  font-family: "Josefin Sans", sans-serif;
}

#cssChange {
  background-size: 25px;
  width: 25px;
  height: 25px;
}

.dark #cssChange {
  background-image: url("../public/icon-sun.svg");
}

.light #cssChange {
  background-image: url("../public/icon-moon.svg");
}

.App * {
  transition-duration: 0.5s;
}

.dark {
  background-image: url("../public/bg-desktop-dark.jpg");
}

.light {
  background-image: url("../public/bg-desktop-light.jpg");
  background-color: #fafafa;
}

.light p {
  color: black;
}

.header {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  text-align: left;
  height: 20%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 48px;
}

.dark p {
  color: hsl(234, 39%, 85%);
}

.light p {
  color: black;
}
